<form asp-action="Index">
   <label> Full name</label>
   <input type="text" name="FName" placeholder="Nhap full name"/>
   <input type="text" name="EmployeeID" placeholder="Nhap ID"/>
   <button type="submit">Save</button>
   <h1>@ViewBag.ThongBao</h1>
</form>