<form asp-action="Index">
@*Le Thi Mai Anh -2021050076*@
    <label>Full Name :</label><br>
    <input type="text" name="FullName"required placeholder="Enter FullName"><br>
    <label>EmployeeId :</label><br>
    <input type="text" name="EmployeeId" required placeholder="Enter EmployeeId"><br>
    

    <br>

    <input type="submit" value="Save">

    <br>
</form>
<p>@ViewBag.ThongBao</p>