<form asp-action="Index">
  
  <p>
  <label> Full name</label>
  <input name ="FullName"class="w3-input" type="text"></p>
  <p>
  <label>EmployeeId</label>
  <input class=""class="w3-input" type="text"></p>
    <button type="submit">Save</button>
    <h1>@ViewBag.ThongBao</h1>
</form>