<form asp-action="Index">
    <label> Full name</label>
    <input type="text" name="FName" placeholder="Nhap full name"/>
    <input type="email" name="Email" placeholder="Nhap email"/>
    <button type="submit">Save</button>
    <h1>@ViewBag.ThongBao</h1>
</form>