<form asp-action="Index">
    <label> Full name</label>
    <input type="text" name="FullName" placeholder="Nhap full name"/>
    <input type="text" name="PresonId" placeholder="Nhap PresonId"/>
    <button type="submit">Save</button>
    <h1>@ViewBag.ThongBao</h1>
</form>
@*Le Thi Mai Anh-2021050076*@