@*Le Thi Mai Anh-2021050076*@
<form asp-action="Index">
   <label> ax+b=0</label>
   <input type="text" name="a" required placeholder="Nhap gia tri a"/>
   <input type="text" name="b" placeholder="Nhap gia tri b"/>
   <button type="submit">Save</button>
   <h1>@ViewBag.ThongBao</h1>
</form>
